<html>
    <head>
        <title>Espaço Artístico</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Espaço Artístico</a></h1>
        </div>

        <div>
            <p>publicado: 14.06.2014, 12:14</p>
            <h2><a href="">Poesia</a></h2>
            <p>A Poesia é um texto poético, geralmente em verso, que faz parte do gênero literário denominado "lírico".
            Ela combina palavras, significados e qualidades estéticas. Nela, prevalece a estética da língua sobre o conteúdo, 
            de forma que utiliza de diferentes dispositivos fonéticos, sintáticos e semânticos.</p>
        </div>

        <div>
            <p>publicado: 14.06.2014, 12:14</p>
            <h2><a href="">Escultura</a></h2>
            <p>Escultura é uma arte que representa ou ilustra imagens plásticas em relevo total ou parcial. Existem várias técnicas 
            de trabalhar os materiais, como a cinzelação, a fundição, a moldagem ou a aglomeração de partículas para a criação de um objeto.</p>
        </div>
    </body>
</html>